body{
    background-image: url("../images/background.jpg");
    background-size: 100%;
}

#jumbo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:hsla(168, 82%, 46%, 0.59);
    background-color: rgba(21, 213, 175, 0.59);
    font-family: 'Special Elite', cursive;
}

#learnMore{
    background-color:transparent;
    border-color: #2c2e3a;
    color: #2c2e3a;
    font-family: 'Special Elite', cursive;

}
#learnMore:hover{
    background-color: yellow;
}
#seeproject1{
    background-color:transparent;
    border-color: beige;
    color: beige;
    font-family: 'Special Elite', cursive;
    text-align: center;
    display: flex;
  justify-content: center;

}
#seeproject1:hover{
    background-color: yellow;
    color: #2c2e3a;
}


.navbar{
    background-color: #3e5c6a;
    color: white;
}

#about-me-body{
    background-image: url("../images/aboutme.jpg");
    background-size: 100%;
}

#aboutMe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3e5c6a;
    background-color: hsla(200, 56%, 24%, 0.74);
    width: 50%;
    height: 50%;

}
#aboutmeText{
    color: beige;
    font-family: 'Reenie Beanie', cursive;
    font-size: 28px;
    text-align: center;
}
#project-1-body{
    background-image: url("../images/project1.jpg");
    background-size: 100%;
}
#project1Text{
    color: beige;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-align: center;
}
